h1 {
	text-align: center;
}

#headerH1 {
	color: #c80815;
	font-size: 45px;
}

#headerA {
	text-decoration: none;
}

a:hover {
	color: blue;
}
a:active {
	color: red;
}
a:visited {
	color: #a91101;
}

body {
	background: white;
}

p {
	line-height: 1.5;
}

#wrapper {
	margin: auto;
	background: white;
	width: 1000px;
}

#Tutoring {
	text-align: center;
	font-size: 16px;
}

#horzNav {
	display: block;
	padding: 10px 20px 10px 0px;
	background: #b31b1b;
	text-align: center;
}

#horzNav a {
	text-decoration: underline;
	padding: 0px 0px 0px 20px;
	color: white;
}

#tableData {
	width: 1000px;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#tableData td,
th {
	border: 1px solid black;
}

#tableData tr:nth-child(even) {
	background-color: #fffacd;
}

#contactList {
	list-style-type: none;
	font-size: 16px;
	text-align: center;
}

#contactList li {
	margin-bottom: 10px;
}

#commentForm {
	padding-left: 300px;
	padding-top: 300px;
	padding-bottom: 100px;
}

footer {
	background: lightblue;
	color: black;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#mstate {
	text-align: center;
	line-height: 1.5;
}

#CurrentProject {
	text-align: center;
}

#leftH2 {
	float: left;
	text-align: left;
}
#rightH2 {
	float: right;
	text-align: right;
}

#Intro {
	text-align: left;
	vertical-align: top;
}
